@media (max-width:1024px)
{

section.hero figure img
{
    object-fit: cover;
    
}
header.main-header div.main-header-right nav
{
    display: none;
}
  


header.main-header div.container
{
  flex-direction: column;
  gap: 30px;

}

section.hero div.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}


section.hero div.container div.hero-text
{
   
    text-align: center;
}

section.hero div.container div.hero-text .hero-h1
{
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 10px;
}
section.hero div.container div.hero-text .hero-p
{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
}

/* About us block */


section.about-us .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

section.about-us
{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;  
    
}



section.about-us .container section.about-us-text
{
    
    width: 100%;
    min-height: 300px;
    text-align: center;
}

section.about-us .container section.about-us-text .about-us-h2
{
    
   font-size: 20px;
}

section.about-us .container section.waterfall-landscape
{
    width: 100%;
    
}

section.about-us .container section.waterfall-landscape figure
{
    width: 100%;
}
section.about-us .container section.waterfall-landscape figure .waterfall
{
    height: 50%;
    width: auto;
    max-width: 600px;
}
section.about-us .container section.waterfall-landscape figure .waterfall img
{
    width: 100%;
    height: auto;
    
    
}

section.about-us .container section.waterfall-landscape figure .landscape
{
    height: 50%;
    width: auto;
    
}

section.about-us .container section.waterfall-landscape figure .landscape img
{
    width: 100%;
    height: auto;
}

section.about-us .container .about-us-text .about-us-h2
{
    font-size: 25px;
    line-height: 25px;
}

section.about-us .container .about-us-text .about-us-p
{
    font-size: 15px;
    line-height: 15px;
}

/* benefits block */

section.benefits 
{
    margin-top: 50px;
}

                            
section.benefits div.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;   
    margin-top:0; 
    margin-bottom: 100px;
    
}

section.benefits .container .card
{
    width: 100%;
    margin: 10px;
    text-align: center;
}


// our services block

// our services text 
section.our-services .container
{
    padding: 0 50px;
}

section.our-services .container .our-services-text 
{
   
}



// our services cards
section.our-services .container .our-services-cards
{
   flex-direction: column;      
}

section.our-services .container .our-services-cards .country
{
    height: 350px;
}

section.our-services .container .our-services-cards .country figure img
{
    height: 350px;
}

section.our-services .container .our-services-cards .country .country-text
{
    text-align: center;
    position: absolute;
    top: 20%;
    z-index: 2;
    padding: 0 20px;
}

section.our-services .container .our-services-cards .country .country-text .country-text-p
{
    font-weight: 300;
    margin-bottom: 25px;
    font-size: 15px;
}

section.our-services .container .our-services-cards .country .country-text .country-text-h3
{
    font-size: 20px;
}


section.our-services .container .our-services-text .our-services-h2
{
    font-size: 18px;
}

section.our-services .container .our-services-text .our-services-p
{
    font-size: 15px;
}
}