:root
{
    --white: #ffffff;
    --sans:"Work Sans", sans-serif;
    --playfair:"Playfair Display" , sans-serif;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}


body figure.santa img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
    z-index: 3;
    animation-name: santa;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    
}


@keyframes santa
{
    0% {transform: translate(0);}
    100% {transform: translate(1700px);}
   
}

.container
{
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
}

.theme-button a
{
    text-decoration: none;
    background-color: #2094E6;
    padding: 8px 24px;
    color: var(--white);
    font-size: 16px;
    font-family: var(--sans);
    justify-content: center;
    align-items: center;
    display: inline-flex;
   
}
                               

                                        
                                     /* Navigation */

header.main-header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:  2;
    padding: 20px 120px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}



header.main-header .container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.main-header .main-header-right
{
    display: flex;
    align-items: center;
}

header.main-header .main-header-right nav
{
    margin-right: 82px;
    
}

header.main-header .main-header-right nav ul
{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
} 

header.main-header .main-header-right nav ul li a:hover
{
    color: var(--white);
    transition: 0.5s;
    font-size: 200%;
   
    
}

.theme-button a:hover
{
    text-decoration: none;
    background-color: black;
    padding: 8px 24px;
    color: var(--white);
    font-size: 16px;
    font-family: var(--sans);
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: white;
    transition: 1s;    
   
}



header.main-header .main-header-right nav ul li a
{
    text-decoration: none;
    color: var(--white);
    font-weight: 500px;
    font-size: 24px;
    font-family: "Work Sans", sans-serif;

}



                                                /* Hero */

header.main-header
{
    position: absolute;
    top: 0; 
    left: 0;
}

section.hero
{
    min-height: 660px;
    width: 100%;
    display: flex;
    align-items: center;  
} 

section.hero::before 
{
    
   content: '';
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   z-index: 1;
}
    


section.hero figure
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

section.hero figure img
{
    width: 100%;
    height: 100%;
    
}

section.hero .hero-text
{       
    
    max-width: 592px;
    z-index:  2;
}

section.hero .hero-h1
{
    font-size: 60px;
    font-weight: 600px;
    font-family: var(--playfair);
    color: var(--white);
    margin-bottom: 24px;
    line-height: 66px;
}

section.hero .hero-p
{
    font-size: 18px;
    color: var(--white);
    font-family: var(--sans) ;
    margin-bottom: 24px;
    line-height: 27px;
}

header.main-header .logo a:hover
{
    opacity: 70%;
}

                                          /* Second Block */

section.second-block
{
    margin-top: 60px;   
    margin-bottom: 100px; 
    
}

section.second-block .container
{
    display: flex;
    justify-content: space-between;
}



/* Second Block Text sec */

section.second-block-text
{
    width: 486px;
    min-height: 385px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 20px;
}

section.second-block-text .second-block-a-blue
{
    color: #2094E6;
    font-family: var(--playfair);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

section.second-block-text .second-block-h2
{
    font-weight: 500;
    line-height: 60px;
    font-family: var(--playfair);
    font-size: 45px ;
}

section.second-block-text .second-block-p
{
    font-family: var(--sans);
    font-size: 18px;
    line-height: 27px;
}

/* Second Block photos sec */

section.second-block .container section.waterfall-landscape figure
{
    
    width: 667px ;
    height: 546px ;
    margin-right: 44px;
 
}



section.second-block .container section.waterfall-landscape figure .waterfall
{
  
    width: 557px;
    height: 405px;    
}

section.waterfall-landscape figure .landscape 
{
    height:263px ;
    width:386px ;
    position: absolute;
    bottom: 0;
    right: 0;    
}



section.hero figure .santa
{
    width: 6%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 3;
    margin-left: 20px;
}


                                    /* Third block (cards) */

section.cards div.container
{
  
    margin-bottom: 128px;
    display: flex;
    gap: 20px;
    perspective: 1000px;
}

.card
{
    width: 285px;
    min-height: 233px;      
    box-shadow: 0px 5px 20px -10px #333333;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 44px 28px  30px 27px;
    
        
}

.cards .container a
{
    text-decoration: none;
    
}

.card h2
{
    font-family: var(--playfair);
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #121212;

}

.card p
{
    font-family: var(--sans);
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

section.cards .container .full-guide:hover
{
    transform:  scale(1.1);
    transition: 1s;

}
section.cards .container .transport:hover
{
    transform:  scale(1.1);
    transition: 1s;

}
section.cards .container .easy-book:hover
{
    transform:  scale(1.1);
    transition: 1s;

}
section.cards .container .camp-fire:hover
{
    transform:  scale(1.1);
    transition: 1s;

}

                                    /* responsive Settings */

@media (max-width:1024px)
{

body figure.santa img
{
    position: absolute;
    top: 75px;
}




section.hero figure img
{
    object-fit: cover;
    
}
header.main-header div.main-header-right nav
{
    display: none;
}
  

section.hero figure .santa
{
    display: none;
}

header.main-header div.container
{
  flex-direction: column;
  gap: 30px;

}

section.hero div.container div.hero-text
{
    margin: 20%;
    text-align: center;
}

section.hero div.container div.hero-text .hero-h1
{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
}
section.hero div.container div.hero-text .hero-p
{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
}

                    /* second block */


section.second-block .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

section.second-block
{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;  
    
}



section.second-block .container section.second-block-text
{
    
    width: 100%;
    min-height: 300px;
    text-align: center;
}

section.second-block .container section.waterfall-landscape
{
    width: 100%;
    
}

section.second-block .container section.waterfall-landscape figure
{
    width: 100%;
}
section.second-block .container section.waterfall-landscape figure .waterfall
{
    height: 50%;
    width: auto;
    max-width: 600px;
}
section.second-block .container section.waterfall-landscape figure .waterfall img
{
    width: 100%;
    height: auto;
    
    
}

section.second-block .container section.waterfall-landscape figure .landscape
{
    height: 50%;
    width: auto;
    
}

section.second-block .container section.waterfall-landscape figure .landscape img
{
    width: 100%;
    height: auto;
}

section.second-block .container .second-block-text .second-block-h2
{
    font-size: 25px;
    line-height: 25px;
}

section.second-block .container .second-block-text .second-block-p
{
    font-size: 15px;
    line-height: 15px;
}

                            /* third block */

section.cards 
{
    margin-top: 50px;
}

                            
section.cards div.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;   
    margin-top:0; 
    
}

section.cards .container .card
{
    width: 80%;
    margin: 10px;
    text-align: center;
}




}